.navbar-brand {
    background: #000;
    color: #fff !important;
    border-radius: 30px;
    padding: 5px 6px;
    font-weight: 500;
}

.navbar-light {
    background-color: #fff !important;
}

.card-body {
    background-color: #fff;
    margin-top: -150px;
    border-radius: 10px;
}

.bg-img {
    height: 50vh;
    object-fit: cover;
    width: 100%;
}

.img-profile {
    width: 25%;
}

.contact-section a {
    margin-right: 5px;
    font-size: 20px;
    color: #000;
}

.education-section p {
    margin-bottom: 0;
}